In [4]:
import pandas as pd

In [26]:
path_dats_genes = 'data/DEG-normalized.csv'
path_dats_srna = 'data/sRNA_DATs.csv'
path_gff_genome = "data/wheat.gff3"
path_ann = 'data/Triticum_aestivum.IWGSC.43.gff3'
path_terms = 'data/mart_export.txt'
path_srna = 'data/ss/ShortStack_All.gff3'

In [6]:
#load genomic coordinates
df_genome = pd.read_csv(path_gff_genome,sep="\t", header=None)
df_genome.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
g_ends = {}
for k,v in df_genome.iterrows():
    g_ends[v.seqname] = v.end

In [7]:
df_genome.head(1)

  seqname source     feature  start        end score  strand frame attribute
0      1A      .  chromosome      0  594102056     .       0     .         .

In [8]:
#load genes DAT
df_dats_genes = pd.read_csv(path_dats_genes, sep=',',index_col=0)
df_dats_genes.gene = df_dats_genes.gene.str.replace('gene:', '')
print(len(df_dats_genes.index))
df_dats_genes.head(3)

3019

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,C1.counts.txt,C2.counts.txt,C3.counts.txt,C4.counts.txt,T1.counts.txt,T2.counts.txt,T3.counts.txt,T4.counts.txt
1,TraesCS2B02G286300,320.013057,2.445059,0.225052,10.864392,1.703534e-27,5.369907e-23,582.257421,553.695714,476.353565,549.686360,77.245985,81.333777,93.617622,145.914014
2,TraesCS2B02G336800,2294.525203,-2.909846,0.268059,-10.855254,1.882824e-27,5.369907e-23,532.840739,512.938938,500.171243,609.940442,4976.988116,5270.112921,2148.061490,3805.147731
3,TraesCS6D02G241200,191.594697,2.320181,0.223227,10.393825,2.645258e-25,5.029605e-21,300.797192,294.244042,391.999288,289.642428,71.379201,56.854679,81.272441,46.568302

In [9]:
#load sRNA clusters DAT
df_dats_srna = pd.read_csv(path_dats_srna, sep=',')
print(len(df_dats_srna.index))

up = len(df_dats_srna[df_dats_srna.log2FoldChange > 0].index)
down = len(df_dats_srna[df_dats_srna.log2FoldChange < 0].index)
print('up',up,'down',down)
df_dats_srna.head(3)

825
up 750 down 75

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed
0,Cluster_23214,303.283691,5.135611,0.416086,12.342659,5.336396e-35,2.054299e-30,15.575845,18.059182,688.532822,490.966913
1,Cluster_16294,278.503619,4.516049,0.387391,11.657590,2.098994e-31,4.040144e-27,19.729404,27.088773,591.965505,475.230794
2,Cluster_21247,259.538254,4.763367,0.411869,11.565251,6.181007e-31,7.931468e-27,15.575845,21.445279,579.403903,421.727990

In [14]:
#load all genomic features
df_genes_features = pd.read_csv(path_ann,sep="\t", header=None, comment='#')
df_genes_features.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_genes_features.index))

1957744

In [33]:
#filter only 120k genes
df_genes = df_genes_features[(df_genes_features.feature == 'gene') | (df_genes_features.feature == 'ncRNA_gene')]
print(len(df_genes.index))

120744

In [34]:
#get gene name in annotation
df_genes['gene'] = df_genes.attribute.str.split('gene:').str[1]
df_genes['gene'] = df_genes.gene.str.split(';').str[0]
df_genes.head(2)

/Users/juan/Documents/venvs/bio/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/juan/Documents/venvs/bio/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
1,1A,Ensembl_Plants,ncRNA_gene,200,1683,.,+,.,ID=gene:ENSRNA050013875;Name=LSU_rRNA_eukarya;...,ENSRNA050013875
4,1A,Ensembl_Plants,ncRNA_gene,5023,6833,.,+,.,ID=gene:ENSRNA050013847;Name=SSU_rRNA_eukarya;...,ENSRNA050013847

In [35]:
df_dat_gene_list = df_dats_genes.gene.tolist()
len(df_dat_gene_list)

3019

In [36]:
df_genes = df_genes[df_genes.gene.isin(df_dat_gene_list)]
print(len(df_genes.index))

3019

In [37]:
df_genes.head(1)

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
735,1A,IWGSC,gene,1188844,1190864,.,+,.,ID=gene:TraesCS1A02G002200;biotype=protein_cod...,TraesCS1A02G002200

In [38]:
#load GO terms
df_terms = pd.read_csv(path_terms,sep="\t", comment='#')
print(len(df_terms.index))

371521

In [39]:
df_terms.head(3)

,Gene stable ID,GO term definition,GO term accession,GO term name
0,TraesCS4A02G403700,NaN,NaN,NaN
1,TraesCS3A02G154800,Catalysis of the reaction: acyl-CoA + H2O = Co...,GO:0047617,acyl-CoA hydrolase activity
2,TraesCS2B02G516800,Catalysis of the hydrolysis of any O-glycosyl ...,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com..."

In [45]:
df_genes_annotated = pd.merge(df_genes, df_terms,how='left',left_on='gene',right_on='Gene stable ID')

In [46]:
print(len(df_genes_annotated.index))

13190

In [ ]:
df_genes_annotated.groupby('GO term name').count()

In [16]:
#load all sRNA clusters
df_srna = pd.read_csv(path_srna,sep="\t", header=None, comment='#')
df_srna.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_srna.index))

38496

In [19]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
0,1A,ShortStack,nc_RNA,209,460,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;,NaN
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;,NaN
2,1A,ShortStack,nc_RNA,5808,6115,.,+,.,ID=Cluster_3;DicerCall=N;MIRNA=N;,NaN

In [20]:
#get cluster name in annotation
df_srna['cluster'] = df_srna.attribute.str.split('ID=').str[1]
df_srna['cluster'] = df_srna.cluster.str.split(';').str[0]
df_srna.head(2)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
0,1A,ShortStack,nc_RNA,209,460,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;,Cluster_1
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;,Cluster_2

In [49]:
dats_srna_list = df_dats_srna.Gene.tolist()

In [50]:
df_srna = df_srna[df_srna.cluster.isin(dats_srna_list)]
print(len(df_srna.index))

825

In [51]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
22,1A,ShortStack,nc_RNA,38115,38988,.,+,.,ID=Cluster_23;DicerCall=N;MIRNA=N;,Cluster_23
34,1A,ShortStack,nc_RNA,57191,58107,.,+,.,ID=Cluster_35;DicerCall=N;MIRNA=N;,Cluster_35
52,1A,ShortStack,nc_RNA,101290,101565,.,+,.,ID=Cluster_53;DicerCall=N;MIRNA=N;,Cluster_53

In [ ]:
#merge DATs genes with DAT clusters
span = 1500
gene_cluster = []
gene_overlapped = []
for k_g,v_g in df_genes.iterrows():
    g_start = max(0, v_g.start - span)
    g_end = min(g_ends[v_g.seqname], v_g.end + span)
    for k_s, v_s in df_srna.iterrows():
        s_start = v_s.start
        s_end = v_s.end
        if s_end >= g_start and s_start <= g_end:
            print(v_g.gene, g_start, g_end, v_s.cluster, s_start, s_end)
            gene_cluster.append( (v_g.gene, v_s.cluster) )
            gene_overlapped.append(v_g.gene)

In [64]:
df_genes_with_clusters = df_genes_annotated[df_genes_annotated.gene.isin(gene_overlapped)]

In [70]:
df_genes_with_clusters['GO term name'].value_counts()

oxidation-reduction process                                                                                                      11
protein binding                                                                                                                   8
oxidoreductase activity                                                                                                           8
membrane                                                                                                                          8
oxylipin biosynthetic process                                                                                                     7
dioxygenase activity                                                                                                              7
oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen     7
metal ion binding                                                                                                                 7
fatty acid biosynthetic process                                                                                                   7
integral component of membrane                                                                                                    6
GTPase activity                                                                                                                   5
structural constituent of cytoskeleton                                                                                            5
microtubule                                                                                                                       5
cytoskeleton organization                                                                                                         5
microtubule-based process                                                                                                         5
cytoskeleton                                                                                                                      5
GTP binding                                                                                                                       5
nucleotide binding                                                                                                                5
cytoplasm                                                                                                                         5
transferase activity, transferring phosphorus-containing groups                                                                   4
lipid metabolic process                                                                                                           4
phosphatidate cytidylyltransferase activity                                                                                       3
DNA binding                                                                                                                       3
transferase activity                                                                                                              3
methyltransferase activity                                                                                                        2
nucleotidyltransferase activity                                                                                                   2
iron ion binding                                                                                                                  2
methylation                                                                                                                       2
NAD binding                                                                                                                       2
catalytic activity                                                                                                                2
                                                                                                                                 ..
mitochondrion                                                                                                                     1
chloroplast                                                                                                                       1
UTP biosynthetic process                                                                                                          1
ADP binding                                                                                                                       1
nucleoside diphosphate phosphorylation                                                                                            1
regulation of monopolar cell growth                                                                                               1
L-serine biosynthetic process                                                                                                     1
transferase activity, transferring glycosyl groups                                                                                1
proteolysis                                                                                                                       1
dephosphorylation                                                                                                                 1
translation                                                                                                                       1
transmembrane transporter activity                                                                                                1
protein phosphorylation                                                                                                           1
pteridine-containing compound metabolic process                                                                                   1
ATP binding                                                                                                                       1
protein kinase activity                                                                                                           1
NAD+ ADP-ribosyltransferase activity                                                                                              1
ribosome                                                                                                                          1
small ribosomal subunit                                                                                                           1
regulation of transcription, DNA-templated                                                                                        1
serine-type endopeptidase activity                                                                                                1
structural constituent of ribosome                                                                                                1
chloroplast envelope                                                                                                              1
cellular amino acid biosynthetic process                                                                                          1
lipid binding                                                                                                                     1
lipid transport                                                                                                                   1
CTP biosynthetic process                                                                                                          1
plastid                                                                                                                           1
channel activity                                                                                                                  1
hydrolase activity                                                                                                                1
Name: GO term name, Length: 77, dtype: int64