In [1]:
import pandas as pd

In [2]:
path_dats_genes = 'data/DEG-normalized.csv'
path_dats_srna = 'data/sRNA_DATs.csv'
path_gff_genome = "data/wheat.gff3"
path_ann = 'data/Triticum_aestivum.IWGSC.43.gff3'
path_terms = 'data/mart_export.txt'
path_srna = 'data/ss/ShortStack_All.gff3'

In [3]:
#load genomic coordinates
df_genome = pd.read_csv(path_gff_genome,sep="\t", header=None)
df_genome.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
g_ends = {}
for k,v in df_genome.iterrows():
    g_ends[v.seqname] = v.end

In [4]:
df_genome.head(1)

  seqname source     feature  start        end score  strand frame attribute
0      1A      .  chromosome      0  594102056     .       0     .         .

In [5]:
#load genes DAT
df_dats_genes = pd.read_csv(path_dats_genes, sep=',',index_col=0)
df_dats_genes.gene = df_dats_genes.gene.str.replace('gene:', '')
print(len(df_dats_genes.index))
df_dats_genes.head(3)

3019

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,C1.counts.txt,C2.counts.txt,C3.counts.txt,C4.counts.txt,T1.counts.txt,T2.counts.txt,T3.counts.txt,T4.counts.txt
1,TraesCS2B02G286300,320.013057,2.445059,0.225052,10.864392,1.703534e-27,5.369907e-23,582.257421,553.695714,476.353565,549.686360,77.245985,81.333777,93.617622,145.914014
2,TraesCS2B02G336800,2294.525203,-2.909846,0.268059,-10.855254,1.882824e-27,5.369907e-23,532.840739,512.938938,500.171243,609.940442,4976.988116,5270.112921,2148.061490,3805.147731
3,TraesCS6D02G241200,191.594697,2.320181,0.223227,10.393825,2.645258e-25,5.029605e-21,300.797192,294.244042,391.999288,289.642428,71.379201,56.854679,81.272441,46.568302

In [6]:
#load sRNA clusters DAT
df_dats_srna = pd.read_csv(path_dats_srna, sep=',')
print(len(df_dats_srna.index))

up = len(df_dats_srna[df_dats_srna.log2FoldChange > 0].index)
down = len(df_dats_srna[df_dats_srna.log2FoldChange < 0].index)
print('up',up,'down',down)
df_dats_srna.head(3)

825
up 750 down 75

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed
0,Cluster_23214,303.283691,5.135611,0.416086,12.342659,5.336396e-35,2.054299e-30,15.575845,18.059182,688.532822,490.966913
1,Cluster_16294,278.503619,4.516049,0.387391,11.657590,2.098994e-31,4.040144e-27,19.729404,27.088773,591.965505,475.230794
2,Cluster_21247,259.538254,4.763367,0.411869,11.565251,6.181007e-31,7.931468e-27,15.575845,21.445279,579.403903,421.727990

In [7]:
#load all genomic features
df_genes_features = pd.read_csv(path_ann,sep="\t", header=None, comment='#')
df_genes_features.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_genes_features.index))

1957744

In [8]:
#filter only 120k genes
df_genes = df_genes_features[(df_genes_features.feature == 'gene') | (df_genes_features.feature == 'ncRNA_gene')]
print(len(df_genes.index))

120744

In [12]:
#get gene name in annotation
df_genes['gene'] = df_genes.attribute.str.split('gene:').str[1]
df_genes['gene'] = df_genes.gene.str.split(';').str[0]
df_genes.head(2)

/Users/juan/Documents/venvs/bio/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/juan/Documents/venvs/bio/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
1,1A,Ensembl_Plants,ncRNA_gene,200,1683,.,+,.,ID=gene:ENSRNA050013875;Name=LSU_rRNA_eukarya;...,ENSRNA050013875
4,1A,Ensembl_Plants,ncRNA_gene,5023,6833,.,+,.,ID=gene:ENSRNA050013847;Name=SSU_rRNA_eukarya;...,ENSRNA050013847

In [13]:
df_dat_gene_list = df_dats_genes.gene.tolist()
len(df_dat_gene_list)

3019

In [14]:
df_genes = df_genes[df_genes.gene.isin(df_dat_gene_list)]
print(len(df_genes.index))

3019

In [15]:
df_genes.head(1)

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
735,1A,IWGSC,gene,1188844,1190864,.,+,.,ID=gene:TraesCS1A02G002200;biotype=protein_cod...,TraesCS1A02G002200

In [16]:
#load GO terms
df_terms = pd.read_csv(path_terms,sep="\t", comment='#')
print(len(df_terms.index))

371521

In [17]:
df_terms.head(3)

,Gene stable ID,GO term definition,GO term accession,GO term name
0,TraesCS4A02G403700,NaN,NaN,NaN
1,TraesCS3A02G154800,Catalysis of the reaction: acyl-CoA + H2O = Co...,GO:0047617,acyl-CoA hydrolase activity
2,TraesCS2B02G516800,Catalysis of the hydrolysis of any O-glycosyl ...,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com..."

In [18]:
df_genes_annotated = pd.merge(df_genes, df_terms,how='left',left_on='gene',right_on='Gene stable ID')

In [19]:
print(len(df_genes_annotated.index))

13190

In [22]:
df_genes_annotated['GO term name'].value_counts()

membrane                                                                                                               663
integral component of membrane                                                                                         628
protein binding                                                                                                        341
oxidation-reduction process                                                                                            309
ATP binding                                                                                                            294
translation                                                                                                            247
structural constituent of ribosome                                                                                     236
ribosome                                                                                                               235
metal ion binding                                                                                                      220
hydrolase activity                                                                                                     207
intracellular                                                                                                          198
nucleus                                                                                                                197
oxidoreductase activity                                                                                                196
DNA binding                                                                                                            189
nucleotide binding                                                                                                     185
catalytic activity                                                                                                     184
transmembrane transport                                                                                                182
regulation of transcription, DNA-templated                                                                             181
transferase activity                                                                                                   171
carbohydrate metabolic process                                                                                         163
protein kinase activity                                                                                                124
protein phosphorylation                                                                                                124
cytoplasm                                                                                                              116
RNA binding                                                                                                            112
hydrolase activity, hydrolyzing O-glycosyl compounds                                                                   110
zinc ion binding                                                                                                        96
transferase activity, transferring glycosyl groups                                                                      91
DNA-binding transcription factor activity                                                                               86
transmembrane transporter activity                                                                                      79
calcium ion binding                                                                                                     75
                                                                                                                      ...
transcription factor binding                                                                                             1
sodium:proton antiporter activity                                                                                        1
1-aminocyclopropane-1-carboxylate synthase activity                                                                      1
positive regulation of gene expression                                                                                   1
specification of floral organ number                                                                                     1
3-phosphoshikimate 1-carboxyvinyltransferase activity                                                                    1
negative regulation of anthocyanin metabolic process                                                                     1
thiol-dependent ubiquitin-specific protease activity                                                                     1
TIM23 mitochondrial import inner membrane translocase complex                                                            1
exocytosis                                                                                                               1
regulation of microtubule cytoskeleton organization                                                                      1
regulation of DNA replication                                                                                            1
glucan endo-1,3-beta-glucanase activity, C-3 substituted reducing group                                                  1
tRNA (adenine-N1-)-methyltransferase activity                                                                            1
Hsp90 protein binding                                                                                                    1
nucleosome assembly                                                                                                      1
regulation of translational initiation                                                                                   1
purine nucleobase catabolic process                                                                                      1
pollen development                                                                                                       1
wax biosynthetic process                                                                                                 1
lipid glycosylation                                                                                                      1
RNA splicing, via endonucleolytic cleavage and ligation                                                                  1
fatty acid beta-oxidation                                                                                                1
ribosomal large subunit assembly                                                                                         1
ubiquinol:oxygen oxidoreductase activity                                                                                 1
ubiquitin-specific protease activity involved in negative regulation of retrograde protein transport, ER to cytosol      1
branched-chain amino acid biosynthetic process                                                                           1
phosphoenolpyruvate carboxykinase (ATP) activity                                                                         1
intermembrane lipid transfer                                                                                             1
photosynthesis, light reaction                                                                                           1
Name: GO term name, Length: 1168, dtype: int64

In [23]:
#load all sRNA clusters
df_srna = pd.read_csv(path_srna,sep="\t", header=None, comment='#')
df_srna.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_srna.index))

38496

In [24]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1A,ShortStack,nc_RNA,209,460,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;
2,1A,ShortStack,nc_RNA,5808,6115,.,+,.,ID=Cluster_3;DicerCall=N;MIRNA=N;

In [25]:
#get cluster name in annotation
df_srna['cluster'] = df_srna.attribute.str.split('ID=').str[1]
df_srna['cluster'] = df_srna.cluster.str.split(';').str[0]
df_srna.head(2)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
0,1A,ShortStack,nc_RNA,209,460,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;,Cluster_1
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;,Cluster_2

In [26]:
dats_srna_list = df_dats_srna.Gene.tolist()

In [27]:
df_srna = df_srna[df_srna.cluster.isin(dats_srna_list)]
print(len(df_srna.index))

825

In [28]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
22,1A,ShortStack,nc_RNA,38115,38988,.,+,.,ID=Cluster_23;DicerCall=N;MIRNA=N;,Cluster_23
34,1A,ShortStack,nc_RNA,57191,58107,.,+,.,ID=Cluster_35;DicerCall=N;MIRNA=N;,Cluster_35
52,1A,ShortStack,nc_RNA,101290,101565,.,+,.,ID=Cluster_53;DicerCall=N;MIRNA=N;,Cluster_53

In [29]:
#merge DATs genes with DAT clusters
span = 1500
gene_cluster = []
gene_overlapped = []
for k_g,v_g in df_genes.iterrows():
    g_start = max(0, v_g.start - span)
    g_end = min(g_ends[v_g.seqname], v_g.end + span)
    g_strand = v_g.strand
    for k_s, v_s in df_srna.iterrows():
        s_start = v_s.start
        s_end = v_s.end
        if s_end >= g_start and s_start <= g_end:
            print(v_g.gene, g_start, g_end, v_s.cluster, s_start, s_end)
            gene_cluster.append( (v_g.gene, v_s.cluster) )
            gene_overlapped.append(v_g.gene)

TraesCS1A02G287200 483926564 483930357 Cluster_21057 483930145 483930160
TraesCS1A02G349000 534257473 534263600 Cluster_10377 534259453 534259470
TraesCS1A02G369600 547296939 547305624 Cluster_1454 547300625 547301638
TraesCS1B02G021300 9836479 9846002 Cluster_12756 9844088 9844104
TraesCS1B02G273100 480325176 480329193 Cluster_10217 480324964 480325607
TraesCS1D02G222600 310138953 310146633 Cluster_3955 310144102 310144999
TraesCS1D02G353100 438366891 438372879 Cluster_4418 438370209 438370986
TraesCS1D02G452300 493928351 493935505 Cluster_4829 493929774 493930246
TraesCS2A02G117700 67979065 67983293 Cluster_5235 67981431 67981897
TraesCS2A02G176000 135190255 135198661 Cluster_5453 135196305 135196983
TraesCS2A02G264800 420224178 420229187 Cluster_4314 420225864 420226119
TraesCS2A02G525500 745665377 745672618 Cluster_6725 745666955 745667922
TraesCS2A02G525500 745665377 745672618 Cluster_6726 745668439 745669198
TraesCS2A02G525500 745665377 745672618 Cluster_6727 745669457 745669750
TraesCS2A02G525500 745665377 745672618 Cluster_6728 745669826 745670266
TraesCS2A02G525500 745665377 745672618 Cluster_6729 745670349 745671101
TraesCS2B02G137700 104579030 104583147 Cluster_7318 104581192 104581691
TraesCS2B02G555400 750010208 750019991 Cluster_8580 750013636 750014671
TraesCS2B02G555400 750010208 750019991 Cluster_8581 750014970 750015267
TraesCS2B02G555400 750010208 750019991 Cluster_8582 750015372 750015905
TraesCS2B02G555400 750010208 750019991 Cluster_8583 750016209 750016410
TraesCS2B02G555400 750010208 750019991 Cluster_8584 750016962 750017617
TraesCS2D02G316200 405414344 405423143 Cluster_9952 405415815 405416125
TraesCS2D02G316200 405414344 405423143 Cluster_9953 405417710 405417825
TraesCS2D02G316200 405414344 405423143 Cluster_9954 405418115 405418490
TraesCS2D02G316200 405414344 405423143 Cluster_9955 405420843 405421329
TraesCS2D02G376100 480321849 480327115 Cluster_10217 480324964 480325607
TraesCS2D02G528500 616148455 616156565 Cluster_10787 616150042 616151011
TraesCS2D02G528500 616148455 616156565 Cluster_10788 616151553 616151838
TraesCS2D02G528500 616148455 616156565 Cluster_10789 616151926 616152317
TraesCS2D02G528500 616148455 616156565 Cluster_10790 616152850 616153353
TraesCS2D02G528500 616148455 616156565 Cluster_10791 616153456 616155042

KeyboardInterrupt:

In [ ]:
df_genes_with_clusters = df_genes_annotated[df_genes_annotated.gene.isin(gene_overlapped)]

In [ ]:
df_genes_with_clusters['GO term name'].value_counts()