In [1]:
import pandas as pd

In [2]:
path_dats_genes = 'data/DEG-normalized.csv'
path_dats_srna = 'data/sRNA_DATs.csv'
path_gff_genome = "data/wheat.gff3"
path_ann = 'data/introns.gff3'
path_terms = 'data/mart_export.txt'
path_srna = 'data/ss/ShortStack_All.gff3'

In [3]:
#load genomic coordinates
df_genome = pd.read_csv(path_gff_genome,sep="\t", header=None)
df_genome.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
g_ends = {}
for k,v in df_genome.iterrows():
    g_ends[v.seqname] = v.end

In [4]:
df_genome.head(1)

  seqname source      feature  start        end score  strand frame attribute
0      1A      .   chromosome      0  594102056     .       0     .         .

In [5]:
#load genes DAT
df_dats_genes = pd.read_csv(path_dats_genes, sep=',',index_col=0)
df_dats_genes.gene = df_dats_genes.gene.str.replace('gene:', '')
print(len(df_dats_genes.index))
df_dats_genes.head(3)

3019

,gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,C1.counts.txt,C2.counts.txt,C3.counts.txt,C4.counts.txt,T1.counts.txt,T2.counts.txt,T3.counts.txt,T4.counts.txt
1,TraesCS2B02G286300,320.013057,-2.445058,0.225052,-10.864391,1.703566e-27,5.369742e-23,582.257421,553.695714,476.353565,549.686360,77.245985,81.333777,93.617622,145.914014
2,TraesCS2B02G336800,2294.525203,2.909847,0.268059,10.855257,1.882766e-27,5.369742e-23,532.840739,512.938938,500.171243,609.940442,4976.988116,5270.112921,2148.061490,3805.147731
3,TraesCS6D02G241200,191.594697,-2.320181,0.223227,-10.393824,2.645301e-25,5.029687e-21,300.797192,294.244042,391.999288,289.642428,71.379201,56.854679,81.272441,46.568302

In [6]:
#load sRNA clusters DAT
df_dats_srna = pd.read_csv(path_dats_srna, sep=',')
print(len(df_dats_srna.index))

up = len(df_dats_srna[df_dats_srna.log2FoldChange > 0].index)
down = len(df_dats_srna[df_dats_srna.log2FoldChange < 0].index)
print('up',up,'down',down)
df_dats_srna.head(3)

1040
up 968 down 72

,Gene,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,X21dpiR1C.trimmed,X21dpiR3C.trimmed,X21dpiR1T.trimmed,X21dpiR3T.trimmed
0,Cluster_29435,313.360910,5.278747,0.411619,12.824353,1.197821e-37,5.854469e-33,10.394437,21.349693,692.392088,529.307423
1,Cluster_31849,334.626721,4.758261,0.377961,12.589304,2.417961e-36,5.909014e-32,18.709987,29.215369,747.594191,542.987336
2,Cluster_20629,282.656275,4.507678,0.368887,12.219668,2.440782e-34,3.976522e-30,20.788874,26.968033,600.914318,481.953876

In [7]:
#load all genomic features
df_genes_features = pd.read_csv(path_ann,sep="\t", header=None, comment='#')
df_genes_features.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_genes_features.index))

2573211

In [8]:
#filter only 120k genes
df_genes = df_genes_features[(df_genes_features.feature == 'gene') | (df_genes_features.feature == 'ncRNA_gene')]
print(len(df_genes.index))

120744

In [9]:
#get gene name in annotation
df_genes['gene'] = df_genes.attribute.str.split('gene:').str[1]
df_genes['gene'] = df_genes.gene.str.split(';').str[0]
df_genes.head(2)

/home/juan/Desktop/juan/bio/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/juan/Desktop/juan/bio/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
0,1A,Ensembl_Plants,ncRNA_gene,200,1683,.,+,.,ID=gene:ENSRNA050013875;Name=LSU_rRNA_eukarya;...,ENSRNA050013875
3,1A,Ensembl_Plants,ncRNA_gene,5023,6833,.,+,.,ID=gene:ENSRNA050013847;Name=SSU_rRNA_eukarya;...,ENSRNA050013847

In [10]:
df_dat_gene_list = df_dats_genes.gene.tolist()
len(df_dat_gene_list)

3019

In [11]:
df_genes = df_genes[df_genes.gene.isin(df_dat_gene_list)]
print(len(df_genes.index))

3019

In [12]:
df_genes.head(1)

,seqname,source,feature,start,end,score,strand,frame,attribute,gene
862,1A,IWGSC,gene,1188844,1190864,.,+,.,ID=gene:TraesCS1A02G002200;biotype=protein_cod...,TraesCS1A02G002200

In [13]:
#load GO terms
df_terms = pd.read_csv(path_terms,sep=",", comment='#')
print(len(df_terms.index))

371496

In [14]:
df_terms.head(3)

,Gene stable ID,GO term accession,GO term name,GO domain,Transcript stable ID
0,TraesCS4A02G403700,NaN,NaN,NaN,TraesCS4A02G403700.1
1,TraesCS3A02G154800,GO:0047617,acyl-CoA hydrolase activity,molecular_function,TraesCS3A02G154800.1
2,TraesCS2B02G516800,GO:0004553,"hydrolase activity, hydrolyzing O-glycosyl com...",molecular_function,TraesCS2B02G516800.1

In [15]:
df_genes_annotated = pd.merge(df_genes, df_terms,how='left',left_on='gene',right_on='Gene stable ID')

In [16]:
print(len(df_genes_annotated.index))

13190

In [17]:
df_genes_annotated['GO term name'].value_counts()

membrane                                                     663
integral component of membrane                               628
protein binding                                              341
oxidation-reduction process                                  309
ATP binding                                                  294
translation                                                  247
structural constituent of ribosome                           236
ribosome                                                     235
metal ion binding                                            220
hydrolase activity                                           207
intracellular                                                198
nucleus                                                      197
oxidoreductase activity                                      196
DNA binding                                                  189
nucleotide binding                                           185
catalytic activity                                           184
transmembrane transport                                      182
regulation of transcription, DNA-templated                   181
transferase activity                                         171
carbohydrate metabolic process                               163
protein kinase activity                                      124
protein phosphorylation                                      124
cytoplasm                                                    116
RNA binding                                                  112
hydrolase activity, hydrolyzing O-glycosyl compounds         110
zinc ion binding                                              96
transferase activity, transferring glycosyl groups            91
DNA-binding transcription factor activity                     86
transmembrane transporter activity                            79
calcium ion binding                                           75
                                                            ...
cortical microtubule                                           1
brassinosteroid mediated signaling pathway                     1
diphosphoinositol-pentakisphosphate kinase activity            1
zinc ion homeostasis                                           1
regulation of secondary cell wall biogenesis                   1
lipoyl(octanoyl) transferase activity                          1
primary miRNA processing                                       1
nitrogen compound metabolic process                            1
defense response to virus                                      1
quinolinate biosynthetic process                               1
Rho GDP-dissociation inhibitor activity                        1
1-aminocyclopropane-1-carboxylate synthase activity            1
endoplasmic reticulum to Golgi vesicle-mediated transport      1
mitochondrial envelope                                         1
nucleobase-containing compound metabolic process               1
UV protection                                                  1
DNA helicase activity                                          1
response to nematode                                           1
positive regulation of gene expression                         1
regulation of rRNA processing                                  1
sodium:proton antiporter activity                              1
positive regulation of cell population proliferation           1
enzyme activator activity                                      1
actin filament bundle                                          1
diphosphomevalonate decarboxylase activity                     1
chlorophyll metabolic process                                  1
positive regulation of respiratory burst                       1
carbon-sulfur lyase activity                                   1
pectin catabolic process                                       1
transcription factor binding                                   1
Name: GO term name, Length: 1169, dtype: int64

In [18]:
path_srna

'data/ss/ShortStack_All.gff3'

In [19]:
#load all sRNA clusters
df_srna = pd.read_csv(path_srna,sep="\t", header=None, comment='#')
df_srna.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_srna.index))

48876

In [20]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1A,ShortStack,nc_RNA,1,579,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;
2,1A,ShortStack,nc_RNA,1381,1641,.,+,.,ID=Cluster_3;DicerCall=N;MIRNA=N;

In [21]:
#get cluster name in annotation
df_srna['cluster'] = df_srna.attribute.str.split('ID=').str[1]
df_srna['cluster'] = df_srna.cluster.str.split(';').str[0]
df_srna.head(2)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
0,1A,ShortStack,nc_RNA,1,579,.,+,.,ID=Cluster_1;DicerCall=N;MIRNA=N;,Cluster_1
1,1A,ShortStack,nc_RNA,688,753,.,+,.,ID=Cluster_2;DicerCall=N;MIRNA=N;,Cluster_2

In [22]:
dats_srna_list = df_dats_srna.Gene.tolist()

In [23]:
df_srna = df_srna[df_srna.cluster.isin(dats_srna_list)]
print(len(df_srna.index))

1040

In [24]:
df_srna.head(3)

,seqname,source,feature,start,end,score,strand,frame,attribute,cluster
9,1A,ShortStack,nc_RNA,13008,13270,.,+,.,ID=Cluster_10;DicerCall=N;MIRNA=N;,Cluster_10
17,1A,ShortStack,nc_RNA,22500,23028,.,+,.,ID=Cluster_18;DicerCall=N;MIRNA=N;,Cluster_18
19,1A,ShortStack,nc_RNA,24053,24383,.,+,.,ID=Cluster_20;DicerCall=N;MIRNA=N;,Cluster_20

In [ ]:
#merge DATs genes with DAT clusters
span = 1500
gene_cluster = []
gene_overlapped = []
for k_g,v_g in df_genes.iterrows():
    g_start = max(0, v_g.start - span)
    g_end = min(g_ends[v_g.seqname], v_g.end + span)
    g_strand = v_g.strand
    for k_s, v_s in df_srna.iterrows():
        s_start = v_s.start
        s_end = v_s.end
        if s_end >= g_start and s_start <= g_end:
            print(v_g.gene, g_start, g_end, v_s.cluster, s_start, s_end)
            gene_cluster.append( (v_g.gene, v_s.cluster) )
            gene_overlapped.append(v_g.gene)

TraesCS1A02G349000 534257473 534263600 Cluster_13067 534259353 534259617
TraesCS1A02G369600 547296939 547305624 Cluster_1805 547300625 547301643
TraesCS1B02G021300 9836479 9846002 Cluster_16093 9844088 9844104
TraesCS1B02G273100 480325176 480329193 Cluster_12864 480324955 480325607
TraesCS1D02G119300 115569662 115575921 Cluster_36726 115573942 115574035
TraesCS1D02G222600 310138953 310146633 Cluster_4941 310144102 310145003
TraesCS1D02G353100 438366891 438372879 Cluster_5514 438370209 438370986
TraesCS1D02G452300 493928351 493935505 Cluster_6044 493929912 493930246
TraesCS2A02G117700 67979065 67983293 Cluster_6567 67981431 67981863
TraesCS2A02G125500 74134323 74141390 Cluster_45331 74133850 74134987
TraesCS2A02G176000 135190255 135198661 Cluster_6831 135196247 135196983
TraesCS2A02G264800 420224178 420229187 Cluster_5395 420225864 420226364
TraesCS2A02G525500 745665377 745672618 Cluster_8427 745666955 745667922
TraesCS2A02G525500 745665377 745672618 Cluster_8428 745668419 745669198
TraesCS2A02G525500 745665377 745672618 Cluster_8429 745669457 745669721
TraesCS2A02G525500 745665377 745672618 Cluster_8430 745669826 745670265
TraesCS2A02G525500 745665377 745672618 Cluster_8431 745670349 745671101
TraesCS2B02G137700 104579030 104583147 Cluster_9191 104581192 104581751
TraesCS2B02G555400 750010208 750019991 Cluster_10855 750013636 750014671
TraesCS2B02G555400 750010208 750019991 Cluster_10856 750014973 750015267
TraesCS2B02G555400 750010208 750019991 Cluster_10857 750015372 750016084
TraesCS2B02G555400 750010208 750019991 Cluster_10858 750016208 750016442
TraesCS2B02G555400 750010208 750019991 Cluster_10859 750016962 750017641
TraesCS2D02G316200 405414344 405423143 Cluster_12539 405415815 405416125
TraesCS2D02G316200 405414344 405423143 Cluster_12540 405417710 405417825
TraesCS2D02G316200 405414344 405423143 Cluster_12541 405418115 405418305
TraesCS2D02G316200 405414344 405423143 Cluster_12542 405420843 405421329
TraesCS2D02G376100 480321849 480327115 Cluster_12864 480324955 480325607
TraesCS2D02G528500 616148455 616156565 Cluster_13557 616150042 616151011
TraesCS2D02G528500 616148455 616156565 Cluster_13558 616151550 616151838
TraesCS2D02G528500 616148455 616156565 Cluster_13559 616151926 616152317
TraesCS2D02G528500 616148455 616156565 Cluster_13560 616152850 616153353
TraesCS2D02G528500 616148455 616156565 Cluster_13561 616153623 616155042
TraesCS3A02G107800 72669118 72674436 Cluster_14220 72672180 72672447
TraesCS3A02G220600 408023655 408034731 Cluster_48573 408024150 408024409
TraesCS3A02G344000 593340388 593348891 Cluster_24529 593347153 593347265
TraesCS3A02G416800 659038119 659042069 Cluster_15593 659040022 659040543
TraesCS3A02G500000 724643517 724655250 Cluster_10773 724650714 724651099
TraesCS3B02G037500 18241943 18250304 Cluster_44920 18245425 18245949
TraesCS3B02G181300 189486941 189492199 Cluster_16635 189488444 189489852
TraesCS3B02G181300 189486941 189492199 Cluster_16636 189490368 189490694
TraesCS3B02G193200 207450516 207462259 Cluster_41170 207460619 207460659
TraesCS3B02G561700 795174885 795179860 Cluster_18183 795176396 795178386
TraesCS3D02G052100 21326825 21330576 Cluster_18514 21328269 21329092
TraesCS3D02G162500 133104916 133110217 Cluster_19022 133107099 133107540
TraesCS3D02G325400 438262668 438267878 Cluster_41589 438263240 438263256
TraesCS3D02G392900 508078013 508085509 Cluster_46698 508084640 508084756
TraesCS3D02G505400 592901415 592905872 Cluster_20629 592902714 592904633
TraesCS3D02G505500 592901427 592906058 Cluster_20629 592902714 592904633
TraesCS4A02G050500 41110258 41117297 Cluster_32046 41116348 41116461
TraesCS4A02G061800 58568516 58573346 Cluster_21050 58570069 58570951
TraesCS4A02G105300 119081826 119090941 Cluster_16483 119082710 119082944
TraesCS4A02G431300 702041690 702047961 Cluster_22824 702044178 702044793
TraesCS4A02G431300 702041690 702047961 Cluster_22825 702045641 702046201
TraesCS4A02G485400 739063235 739070057 Cluster_22939 739066193 739066908
TraesCS4A02G485400 739063235 739070057 Cluster_22940 739067291 739068249
TraesCS4B02G235000 490665776 490671522 Cluster_24212 490669570 490670267
TraesCS4B02G237500 495146483 495151297 Cluster_24230 495148809 495149747
TraesCS4B02G348600 642096390 642103512 Cluster_24780 642097904 642098337
TraesCS4B02G348600 642096390 642103512 Cluster_24781 642098598 642099590
TraesCS4B02G348600 642096390 642103512 Cluster_24782 642099676 642100120
TraesCS4B02G348600 642096390 642103512 Cluster_24783 642100231 642100892
TraesCS4B02G348600 642096390 642103512 Cluster_24784 642100969 642102056
TraesCS4B02G363700 652287072 652293039 Cluster_24836 652288165 652289105
TraesCS4D02G197100 341693297 341699268 Cluster_26058 341694928 341695993
TraesCS4D02G238800 400925455 400929903 Cluster_26251 400927277 400927982
TraesCS4D02G343000 499300957 499307757 Cluster_26819 499303686 499304540
TraesCS4D02G343000 499300957 499307757 Cluster_26820 499304906 499305085
TraesCS4D02G343000 499300957 499307757 Cluster_26821 499305157 499306304
TraesCS4D02G351400 503257610 503265909 Cluster_34102 503262700 503262985
TraesCS4D02G357100 505432175 505438630 Cluster_26878 505433588 505434208
TraesCS4D02G357100 505432175 505438630 Cluster_26879 505436593 505437174
TraesCS5A02G007900 4954791 4961412 Cluster_26943 4956340 4957889
TraesCS5A02G007900 4954791 4961412 Cluster_26944 4958105 4959892
TraesCS5A02G024900 19266804 19275520 Cluster_27016 19268373 19268962
TraesCS5A02G024900 19266804 19275520 Cluster_27017 19270016 19270880
TraesCS5A02G313000 524215790 524220309 Cluster_24331 524219277 524219317
TraesCS5A02G365700 565655168 565662467 Cluster_20457 565659939 565660221
TraesCS5A02G501000 666732419 666740378 Cluster_29104 666735631 666735688
TraesCS5B02G006500 7704577 7711332 Cluster_29435 7706153 7707756
TraesCS5B02G006500 7704577 7711332 Cluster_29436 7707906 7708708
TraesCS5B02G006500 7704577 7711332 Cluster_29437 7708798 7709815
TraesCS5B02G022800 21179206 21188094 Cluster_29491 21184901 21185326
TraesCS5B02G115000 190114971 190127966 Cluster_14520 190119549 190119628
TraesCS5B02G418200 593941557 593947723 Cluster_31146 593942997 593943879
TraesCS5B02G481800 654747933 654753313 Cluster_10570 654748438 654748550
TraesCS5D02G013400 7499791 7506431 Cluster_31849 7501359 7502967
TraesCS5D02G013400 7499791 7506431 Cluster_31850 7503058 7504265
TraesCS5D02G013400 7499791 7506431 Cluster_31851 7504408 7504917
TraesCS5D02G031300 28665154 28672866 Cluster_32004 28666633 28668049
TraesCS5D02G031300 28665154 28672866 Cluster_32005 28668325 28669241
TraesCS5D02G031300 28665154 28672866 Cluster_32006 28669322 28669720
TraesCS5D02G423400 483368712 483374579 Cluster_33928 483370289 483371403
TraesCS5D02G423400 483368712 483374579 Cluster_33929 483372097 483372418
TraesCS5D02G562000 562060993 562065908 Cluster_24422 562063359 562063378
TraesCS5D02G568400 565657224 565661383 Cluster_20457 565659939 565660221
TraesCS6A02G042600 22441002 22458609 Cluster_34649 22442645 22443389
TraesCS6A02G282200 512335389 512341491 Cluster_35728 512338024 512338505
TraesCS6A02G374600 597338414 597344814 Cluster_24543 597339915 597340010
TraesCS6B02G129800 126216256 126222688 Cluster_36775 126219102 126220114
TraesCS6B02G160400 164355912 164362069 Cluster_36894 164357439 164358058
TraesCS6B02G160400 164355912 164362069 Cluster_36895 164358139 164360634
TraesCS6B02G193400 228237778 228244599 Cluster_37046 228240280 228240512
TraesCS6B02G243700 433677166 433683201 Cluster_37401 433682439 433682806
TraesCS6D02G090200 56017972 56024458 Cluster_38685 56020775 56021879

In [ ]:
df_genes_with_clusters = df_genes_annotated[df_genes_annotated.gene.isin(gene_overlapped)]

In [ ]:
df_genes_with_clusters['GO term name'].value_counts()